
$base_color:      #282C37;
$primary_color:   #d9e1e8;
$secondary_color: #9baec8;
$highlight_color: #2b90d9;
$area_color:      #282C37;
$backgound_color: #191B22;

$green:           #79bd9a;
$yellow:          #ca8f04;
$orange:          #ff5050;
$red:             #df405a;
$blue:            #2b90d9;

$login_base_color:      #ffffff;
$login_primary_color:   #1f1f1f;
$login_secondary_color: #CCCCCC;
$login_highlight_color: #007BD0;
$login_area_color:      #F6F8FA;
$login_backgound_color: #E6ECF0;

@import "main/main";
