
html {
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.invisible {
	display: none;
}

.unselectable {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.cursor-pointer {
	cursor: pointer;
}
