{
  "presets": [
    "react",
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "IE >= 11", "iOS >= 9"]
        }
      }
    ]
  ],

  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],

  "env": {

    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ]
    },

    "production": {
      "plugins": [
        "lodash",
        "transform-react-inline-elements",
        [
          "transform-react-remove-prop-types",
          {
            "mode": "remove",
            "removeImport": true,
            "additionalLibraries": [
              "react-immutable-proptypes"
            ]
          }
        ]
      ]
    }

  }
}
