bootstrap/cache
node_modules

public/hot
public/storage
public/fonts
public/images
public/javascript
public/stylesheet
public/mix-manifest.json

storage/app
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
storage/*.key

vendor
logs

.idea
.vagrant
.git

postgres
redis
