bootstrap/cache
**/*node_modules

public/hot
public/packs

storage/app
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
storage/*.key

vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

logs

.idea
.vagrant
.git

postgres
redis
