{
    "extends": "airbnb-base",
    "plugins": [
        "import",
        "react"
    ],
    "env": {
        "browser": true,
        "jquery": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        },
        "sourceType": "module"
    },
    "rules": {
        "camelcase": "off",
        "comma-dangle": "off",
        "indent": ["error", 4],
        "max-len": "off",
        "no-console": "off",
        "no-param-reassign": "off",
        "no-var": "off",
        "object-shorthand": "off",
        "prefer-rest-params": "off",
        "prefer-template": "off",
        "quotes": ["error", "double"],
        "vars-on-top": "off"
    }
}
