# Caches
.sass-cache/*
templates_c/*

# Installation
/app/vendor/*
/node_modules/*

# Configs
/config/general.json

# Distribution
/public/javascript/*
/public/stylesheet/*

# Logs
/log/*
*.log

# Git keep
!.keep
