# Installation
/app/vendor/*
/node_modules/*

# Configs
/config/general.json

# Distribution
/public/javascript/*
/public/stylesheet/*

# Caches
/app/views/templates_c/*

# Logs
/log/*
*.log

# Git keep
!.keep
