
#login {
    margin: 24px auto;
    padding: 56px;
    box-sizing: border-box;
    max-width: $login-container-width;
    background-color: $login_base_color;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);

    & > * {
        padding: 24px 0;
        border-bottom: 1px solid $login_secondary_color;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }

    }

    .loginForm_wrap {

        #loginForm {
            display: flex;
            flex-direction: column;
            align-items: center;

            & > * {
                margin-bottom: 24px;
            }

            .loginForm_title {
                text-align: center;

                h1 {
                    font-size: 38px;
                    padding-bottom: 8px;
                }

                span {
                    font-size: 0.8em;
                }

            }

            .loginForm_input_wrap {
                display: flex;
                flex-direction: column;
                align-items: center;

                .loginForm_error_message {
                    font-size: 0.9em;
                    color: $orange;
                    margin-bottom: 0.5em;
                }

                .loginForm_acct_wrap {
                    margin-bottom: 16px;

                    .loginForm_acct {
                        padding: 0.5em 1em;
                        width: 300px;
                        border-radius: 30px;
                        border: 1px solid $login_secondary_color;
                        font-size: 16px; /*1em*/
                        box-sizing: border-box;

                        &:focus, &:invalid {
                            outline: none;
                            box-shadow: none;
                        }

                        &:focus:invalid {
                            border-color: $orange;
                        }

                        &:focus:valid {
                            border-color: $blue;
                        }
                    }

                    .loginForm_submit {
                        display: block;
                        position: relative;
                        top: calc( -19px + -0.5em);
                        left: calc( 100% - 2em );
                        height: 0;
                        width: 0;
                        font-size: 16px;
                        overflow: visible;
                        transition: 0.15s ease-out;

                        &:hover, &:focus, &:active {
                            opacity: .5;
                            transition: 0.15s ease-out;
                        }
                    }
                }

                .loginForm_agree_checkbox {

                    i::before {
                        content: "\f096";
                    }

                    input[type="checkbox"]:checked + i::before {
                        content: "\f046";
                    }

                    // input[type="checkbox"]:checked + i:hover::before {
                    //     content: "\f147";
                    // }

                }

            }
        }
    }

    .loginArticle {
        line-height: 1.6;

        & > * {
            margin-bottom: 24px;
        }

        h2 {
            margin: 4px auto;
            font-weight: bold;
            font-size: 24px;
        }

        .contactList_wrap {
            width: 100%;

            .contactList {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .contactList_child {
                    width: calc( 100% / 3 );
                    border: 1px solid $login_secondary_color;
                    border-radius: 5px;
                    transition: 0.15s ease-out;

                    &:not(:last-child) {
                        margin-right: 16px;
                    }

                    &:hover, &:focus, &:active {
                        transition: 0.15s ease-out;
                        box-shadow: 0 0 3px rgba(0, 0, 0, 0.26);
                    }

                    a {
                        display: block;
                        padding: 16px;
                        box-sizing: border-box;
                        text-decoration: none;

                        h3 {
                            color: #333;
                            font-size: 20px;
                        }

                        span {
                            font-size: 0.8em;
                        }

                    }

                }

            }
        }

        .donateLinks {
            display: block;
            list-style: disc none inside;
        }

    }
}