.account__avatar {
  display: block;
  background-size: cover;
  border-radius: 6%;
  background-color: #d9e1e8;

  &--inline {
    display: inline;
  }

  &--round {
    border-radius: 50%;
  }
}

.account__display-name {
  color: $text-color;
  font-weight: bold;
  line-height: 1.2;

  & > i {
    margin: 0 0.1em;
  }
}

.account__username {
  color: $text-color-gray;
  line-height: 1.2;
  white-space: nowrap;
}

.account-header {
  width: 100%;
  height: 520px;

  &:first-child {
    margin-top: $topbar-height;
  }
}

.account-header__header {
  width: 100%;
  height: 460px;
  background-color: $highlight-color;
  background-size: cover;
  background-repeat: no-repeat;
}

.account-header__banner {
  width: 100%;
  height: 60px;
  background-color: $primary-color;
  box-shadow: 0 1px 1px rgba(0,0,0,0.26);
}

.account-header__banner-inner {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;

  @media screen and (min-width: 450px) {
    max-width: 450px;
  }

  @media screen and (min-width: 890px) {
    max-width: 890px;
  }

  @media screen and (min-width: 1190px) {
    max-width: 1190px;
  }
}

.account-header-counter {
  height: 100%;
  flex-basis: $timeline-width;
  margin-left: $dashboard-width + 12;
}

.account-header-counter__list {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.account-header-counter__list-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
}

.account-header-counter__link {
  display: block;
  height: 100%;
  padding: 14px 16px 7px;
  box-sizing: border-box;
  text-decoration: none;
  color: $text-color-gray;
  transition: all .15s ease-in-out;

  &:hover, &:active, &--current {
    text-decoration: none;
    color: $highlight-color;
    border-bottom: 2px solid $highlight-color;
  }
}

.account-header-counter__label {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4px;
}

.account-header-counter__counter {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.account-header-follow-button {
  display: flex;
  width: $dashboard-width;
  justify-content: flex-end;
  align-items: center;
}

.account-letterhead {
  position: relative;
  padding: 38px 10px 0;
}

.account-letterhead__avatar {
  position: absolute;
  top: -183px;
  left: 0;

  .account__avatar {
    border: 5px solid $primary-color;
  }
}

.account-letterhead__link {
  display: block;
  margin-bottom: 14px;

  &:hover {
    text-decoration: none;
  }

  .account__display-name {
    display: block;
    font-size: 21px;
    line-height: 1.2;
    margin-bottom: 4px;

    &:hover {
      text-decoration: underline;
    }
  }

  .account__username {
    display: block;
    font-size: 14px;
    line-height: 1.2;

    &:hover {
      text-decoration: underline;
    }
  }
}

.account-letterhead__note {
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
  margin-bottom: 12px;
}

.account-letterhead__created-at {
  font-size: 14px;
  color: $text-color-gray;
  margin-bottom: 14px;

  i {
    margin-right: 4px;
  }
}

.profile-edit-form {
  position: relative;
  padding-top: 38px
}

.profile-edit-form__avatar {
  position: absolute;
  top: -183px;
  left: 0;

  .account__avatar {
    border: 5px solid $primary-color;
  }
}

.profile-edit-form__avatar-upload {
  position: absolute;
  top: 0;
  left: 0;
}

.account-header__header-upload,
.profile-edit-form__avatar-upload {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .account__avatar--round + & {
    border-radius: 50%;

    & > label {
      border-radius: 50%;
    }
  }

  & > label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $white;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      border: 8px solid $highlight-color;
      transition: 0.15s ease-in;
    }

    i {
      display: block;
      font-size: 32px;
      text-align: center;
      margin-bottom: 8px;
    }
  }
}

.profile-edit-form__form {
  padding: 8px;
  border-radius: 6px;
  background-color: $secondary-color;

  & > * {
    width: 100%;
    margin-bottom: 8px;
  }
}

.profile-edit-form__display-name {
  border-radius: 6px;
  background-color: $primary-color;
  border: 1px solid lighten($highlight-color, 5%);

  & > input[type="text"] {
    width: 100%;
    padding: 4px 8px;
    font-size: 21px;
    font-weight: bold;
    color: $text-color;
    box-sizing: border-box;
  }
}

.profile-edit-form__username {
  font-size: 14px;
  line-height: 1.2;
}

.profile-edit-form__note {
  border-radius: 6px;
  background-color: $primary-color;
  border: 1px solid lighten($highlight-color, 5%);

  & > textarea {
    width: 100%;
    padding: 8px 8px;
    font-size: 14px;
    line-height: 1.2;
    font-family: inherit;
    color: $text-color-gray;
    resize: none;
    box-sizing: border-box;
  }
}
.account-compact-gallery {
  margin-bottom: 12px;
}

.account-compact-gallery__title {
  margin-bottom: 8px;

  a {
    font-size: 14px;

    i {
      color: $text-color-gray;
      margin-right: 2px;
    }
  }
}

.account-compact-gallery__list {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(84px, auto);
}

.account-compact-gallery__list-item {
  border-radius: 4px;
  background-size: cover;
}

.account-timeline,
.accounts-list {
  display: flex;
  width: calc( #{$timeline-width} + #{$dashboard-width} + 20px );
}

.accounts-list {
  flex-wrap: wrap;

  .profile-card {
    width: calc( 100% / 3 - 12px );
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 0 12px 12px;
  }
}
