.account-header {
  width: 100%;
  height: 520px;

  &:first-child {
    margin-top: $topbar-height;
  }
}

.account-header__header {
  width: 100%;
  height: 460px;
  background-color: $highlight-color;
  background-size: cover;
  background-repeat: no-repeat;
}

.account-header__banner {
  width: 100%;
  height: 60px;
  background-color: $primary-color;
  box-shadow: 0 1px 1px rgba(0,0,0,0.26);
}

.account-header__banner-inner {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;

  @media screen and (min-width: 450px) {
    max-width: 450px;
  }

  @media screen and (min-width: 890px) {
    max-width: 890px;
  }

  @media screen and (min-width: 1190px) {
    max-width: 1190px;
  }
}

.account-header-counter {
  height: 100%;
  flex-basis: $timeline-width;
  margin-left: $dashboard-width + 12;
}

.account-header-counter__list {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.account-header-counter__list-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
}

.account-header-counter__link {
  display: block;
  height: 100%;
  padding: 14px 16px 7px;
  box-sizing: border-box;
  text-decoration: none;
  color: $text-color-gray;
  transition: all .15s ease-in-out;

  &:hover, &:active, &--current {
    text-decoration: none;
    color: $highlight-color;
    border-bottom: 2px solid $highlight-color;
  }
}

.account-header-counter__label {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4px;
}

.account-header-counter__counter {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.account-header-follow-button {
  display: flex;
  width: $dashboard-width;
  justify-content: flex-end;
  align-items: center;
}

.account-letterhead {
  position: relative;
  top: -183px;
  left: 0;
  padding: 0 10px;
}

.account-letterhead__avatar .account__avatar {
  margin-bottom: 4px;
  border: 5px solid $primary-color;
}

.account-letterhead__link {
  display: block;
  margin-bottom: 14px;

  &:hover {
    text-decoration: none;
  }
}

.account-letterhead__display-name {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.6;
  color: $text-color;

  &:hover {
    text-decoration: underline;
  }
}

.account-letterhead__acct {
  display: block;
  font-size: 14px;
  color: $text-color-gray;

  &:hover {
    text-decoration: underline;
  }
}

.account-letterhead__note {
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
  margin-bottom: 12px;
}

.account-letterhead__created-at {
  font-size: 14px;
  color: $text-color-gray;
  margin-bottom: 14px;

  i {
    margin-right: 4px;
  }
}

.account-compact-gallery {
  margin-bottom: 12px;
}

.account-compact-gallery__title {
  margin-bottom: 8px;

  a {
    font-size: 14px;

    i {
      color: $text-color-gray;
      margin-right: 2px;
    }
  }
}

.account-compact-gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.account-compact-gallery__list-item {
  width: 84px;
  height: 84px;
  margin: 0 6px 6px 0;
  border-radius: 4px;
  background-size: cover;
}

.account-timeline,
.accounts-list {
  display: flex;
  width: calc( #{$timeline-width} + #{$dashboard-width} + 20px );
}

.accounts-list {
  flex-wrap: wrap;

  .profile-card {
    width: calc( 100% / 3 - 12px );
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 0 12px 12px;
  }
}
