.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;

  &:first-child {
    padding-top: $topbar-height + 8;
  }

  @media screen and (min-width: 450px) {
    max-width: 450px;
  }

  @media screen and (min-width: 890px) {
    max-width: 890px;
  }

  @media screen and (min-width: 1190px) {
    max-width: 1190px;
  }
}

.account-header+.content {
  margin-top: 8px;
}
