.dashborad {
  width: $dashboard-width;

  &--right {
    @media screen and (max-width: 1189px) {
      display: none;
    }
  }

  &--left {
    @media screen and (max-width: 890px) {
      display: none;
    }
  }
}
