.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px 0;
}

.loading-indicator__icon {
  color: $text-color-gray;
  font-size: 28px;
  width: 28px;
  height: 28px;
}

.loading-indicator__label {
  font-size: 14px;
  color: $text-color-gray;
  margin-top: 12px;
}
