.not-found {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;

  .not-found__title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .not-found__shobon {
    font-size: 72px;
    margin-bottom: 36px;
  }
}
