
$base_color:      #ffffff;
$primary_color:   #000000;
$secondary_color: #66757F;
$highlight_color: #00aced;
$area_color:      #F5F8FA;
$backgound_color: #E6ECF0;

$green:           #17BF63;
$yellow:          #F8B038;
$orange:          #ff5050;
$red:             #E0245E;
$blue:            #1DA1F2;

$login_base_color:      #ffffff;
$login_primary_color:   #1f1f1f;
$login_secondary_color: #CCCCCC;
$login_highlight_color: #007BD0;
$login_area_color:      #F6F8FA;
$login_backgound_color: #E6ECF0;

@import "main/main";