
$base_color:      #ffffff;
$primary_color:   #000000;
$secondary_color: #66757F;
$highlight_color: #00aced;
$area_color:      #F5F8FA;
$backgound_color: #E6ECF0;

$green:           #17BF63;
$yellow:          #F8B038;
$orange:          #ff5050;
$red:             #E0245E;
$blue:            #1DA1F2;

@import "main/main";