$text_color:            #d9e1e8 !default;
$text_color_gray:       #9baec8 !default;
$background_color:      #191B22 !default;
$highlight_color:       #2b90d9 !default;
$primary_color:         #282C37 !default;
$secondary_color:       darken($primary_color, 5%) !default;
$white:                 #ffffff !default;
$green:                 #79bd9a !default;
$yellow:                #ca8f04 !default;
$orange:                #ff5050 !default;
$red:                   #df405a !default;
$blue:                  #2b90d9 !default;
