$text-color:       #d9e1e8;
$text-color-gray:  #9baec8;
$background-color: #191B22;
$highlight-color:  #2b90d9;
$primary-color:    #282C37;
$secondary-color:  #1d2028;
$white:            #ffffff;
$green:            #79bd9a;
$yellow:           #ca8f04;
$orange:           #ff5050;
$red:              #df405a;
$blue:             #2b90d9;
