
body {
  color: $text-color;
  background-color: $background_color;
  font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;

  &.ja {
    font-family: Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,
    "メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  }
}

a, .link-button {
  color: $highlight_color;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
  font-size: 36px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
  line-height: 1.5;
}

h3 {
  font-size: 28px;
  line-height: 1.2;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 21px;
  line-height: 1.2;
}

h6 {
  font-size: 18px;
  line-height: 1.2;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;

  &:focus, &:active {
    box-shadow: none;
    outline: none;
  }
}

input,
textarea,
optgroup,
select {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;

  &:focus, &:invalid, &:valid {
    box-shadow: none;
    outline: none;
  }
}

.invisible {
  display: none !important;
}

.unselectable {
  user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
}

.unsubmittable {
  pointer-events : none;
}

.emojione {
  display: inline-block;
  font-family: object-fit\:contain,inherit;
  vertical-align: middle;
  -o-object-fit: contain;
  object-fit: contain;
  margin: -.2ex .15em .2ex;
  width: 16px;
  height: 16px;
}
