
// Generate media query of max-width from breakpoint map
// @param {Map} $breakpoints - Map of breakpoints
//
@mixin setResponsiveMaxWidth($breakpoints) {
    @each $breakpoint in $breakpoints {
        @media all and (min-width: $breakpoint) {
            max-width: $breakpoint;
        }
    }
}

// Generate media query of min-width from breakpoint map
// @param {Map} $breakpoints - Map of breakpoints
//
@mixin setResponsiveMinWidth($breakpoints) {
    @each $breakpoint in $breakpoints {
        @media all and (min-width: $breakpoint) {
            min-width: $breakpoint;
        }
    }
}

// If visitor's display was less than or equal to $breakpoint
// then hide the element
// @param {Number} $breakpoint  - Number of minimum display
//
@mixin invisibleFrom($breakpoint) {
    @media all and (max-width: $breakpoint - 1) {
        display: none;
    }
}

// If visitor's display is wider than argument enable @content
// @param {Number} $breakpoint
//
@mixin isWiderThan($breakpoint) {
    @media all and (min-width: $breakpoint) {
        @content;
    }
}
