// Component
$timeline-width:  590px !default;
$dashborad-width: 290px !default;
$topbar-height:   46px !default;

$text-color:       #000000 !default;
$text-color-gray:  #66757f !default;
$background-color: #e6ecf0 !default;
$highlight-color:  #00aced !default;
$primary-color:    #ffffff !default;
$secondary-color:  #edfaff !default;
$white:            #ffffff !default;
$green:            #17bf63 !default;
$yellow:           #f8b038 !default;
$orange:           #ff5050 !default;
$red:              #e0245e !default;
$blue:             #1da1f2 !default;
