
$breakpoints: (
    890px,
    936px,
    1190px
) !default;

$breakpointsMap: (
    "sm": 450px,
    "md": 890px,
    "lg": 936px,
    "xl": 1190px
) !default;

$sm: 450px !default;
$md: 890px !default;
$lg: 936px !default;
$xl: 1190px !default;

$top-bar-height: 46px !default;
$fonts-path:  "/fonts" !default;
$images-path: "/images" !default;
