@charset "UTF-8";

$text_color:            #d9e1e8;
$text_color_dark:       #9baec8;
$background_color:      #191B22;
$primary_color:         #282C37;
$primary_color_dark:    #1F232B;
$secondary_color:       #2b90d9;
$secondary_color_light: #313543;

$white:           #ffffff;
$green:           #79bd9a;
$yellow:          #ca8f04;
$orange:          #ff5050;
$red:             #df405a;
$blue:            #2b90d9;

@import "import";
