@charset "UTF-8";

$text_color:            #000000;
$text_color_dark:       #66757F;
$background_color:      #E6ECF0;
$primary_color:         #ffffff;
$primary_color_dark:    #F5F8FA;
$secondary_color:       #00aced;
$secondary_color_light: #E5F6FD;

$white:           #ffffff;
$green:           #17BF63;
$yellow:          #F8B038;
$orange:          #ff5050;
$red:             #E0245E;
$blue:            #1DA1F2;

@import "import";
