<IfModule mod_rewrite.c>

  RewriteEngine on
  RewriteBase /

  # SSL
  RewriteCond %{SERVER_PORT} 80
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # REWRITE ALL ACCESSES TO INDEX FILE
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule .* index.php [NC,L,QSA]

  # TRAILING SLASH
  RewriteRule ^(.*)/$ /$1 [L,R=301]

  # ERROR PAGES
  ErrorDocument 403 /errors/403.html
  ErrorDocument 404 /errors/404.html
  ErrorDocument 500 /errors/500.html

</IfModule>
