$text-color:         #eeeeee;
$text-color-gray:    #dddddd;
$background-color:   rgba(255, 255, 255, 0.1);
$highlight-color:    rgba(255, 255, 255, 0.8);
$primary-color:      rgba(255, 255, 255, 0.1);
$secondary-color:    rgba(255, 255, 255, 0.1);
$primary-color-gray: rgba(255, 255, 255, 0.1);
$white:              #ffffff;
$green:              #17bf63;
$yellow:             #f8b038;
$orange:             #ff5050;
$red:                #e0245e;
$blue:               #1da1f2;
