{
    "host": "example.com",

    "app": {
        "client_name"   : "Halcyon",
        "redirect_uris" : "https://example.com/login urn:ietf:wg:oauth:2.0:oob",
        "website"       : "https://example.com",
        "scopes"        : "read write follow"
    },

    "db": {
        "host"     : "localhost",
        "user"     : "root",
        "password" : "password",
        "name"     : "the_database"
    },

    "default": {
        "theme": "halcyon",
        "known_themes": [
            "halcyon",
            "mastodon"
        ]
    },

    "html": {
        "public_dir": "/public",
        "fonts_dir": "/public/fonts",
        "images_dir": "/public/images",
        "stylesheet_dir": "/public/stylesheet",
        "javascript_dir": "/public/javascirpt"
    }
}