.account-header {
  width: 100%;
  height: 520px;

  &:first-child {
    margin-top: $topbar-height;
  }

  .account-header__header {
    background-color: $highlight-color;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .account-header__banner {
    background-color: $primary-color;
  }
}
