.page-container--login {

    .login-form-wrapper {
        text-align: center;
        margin: 0 auto;
        padding: 16px;
        box-sizing: border-box;
        max-width: 510px;
        background-color: $primary_color;
        border: 1px solid $primary_color_dark;
        @include isMoreThan($md) {
            padding: 28px;
        }

        h2 {
            display: inline-block;
            font-weight: bold;
            font-size: 1.2em;
            @include isMoreThan($md) {
                font-size: 1.8em;
            }
            margin-bottom: 8px;
        }

        .login-error-message {
            display: inline-block;
            width: 100%;
            margin-bottom: 8px;
            font-size: 0.8em;
            line-height: 1.2;
            color: $red;
        }

        .login-form {
            display: flex;
            flex-direction: column;

            .login-form__acct {
                font-size: 1rem;
                padding: 8px 16px;
                margin-bottom: 8px;
                border-radius: 25px;
                color: $text_color;
                background-color: $primary_color_dark;
                border: 1px solid $background_color;
                text-align: center;

                &:active, &:focus {
                    box-shadow: 0 0 0 1.5px $secondary_color;
                }

                &:invalid {
                    outline: none;
                    box-shadow: 0 0 0 1.5px $red;
                }

                &:valid {
                    outline: none;
                    box-shadow: 0 0 0 1.5px $blue;
                }
            }

            .login-form__submit {
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 16px;
                padding: 8px 16px;
                color: $white;
                border-radius: 25px;
                background-color: $secondary_color;

                &:hover, &:focus, &:active {
                    opacity: .8;
                }
            }

            .login-form__agree {
                font-size: 14px;
            }
        }

        & + .widget-footer {
            max-width: 510px;
            margin: 16px auto;
        }
    }
}
