.main-article--login__section {
    text-align: center;

    h2 {
        display: inline-block;
        font-weight: bold;
        font-size: 1.2em;
        @include isMoreThan($md) {
            font-size: 1.8em;
        }
        margin-bottom: 8px;
    }

    .login-form {
        display: flex;
        flex-direction: column;

        .login-form__acct {
            font-size: 1rem;
            padding: 8px 16px;
            margin-bottom: 8px;
            border-radius: 25px;
            color: $primary_color;
            background-color: $area_color;
            border: 1px solid $backgound_color;
            text-align: center;

            &:active, &:focus {
                box-shadow: 0 0 0 1.5px $highlight_color;
            }

            &:invalid {
                outline: none;
                box-shadow: 0 0 0 1.5px $red;
            }

            &:valid {
                outline: none;
                box-shadow: 0 0 0 1.5px $blue;
            }
        }

        .login-form__submit {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 16px;
            padding: 8px 16px;
            color: $white;
            border-radius: 25px;
            background-color: $highlight_color;

            &:hover, &:focus, &:active {
                opacity: .8;
            }
        }

        .login-form__agree {

        }
    }

}

.main-article--login + .widget-footer {
    max-width: 510px;
}
