
.main {
    margin: 0 auto;
    padding-top: $top-bar-height; //ヘッダー分の余白

    .page-container {
        margin: 0 auto;
        padding: 12px 0;
        width: 100%;
        box-sizing: border-box;
        @include setResponsiveMaxWidth($breakpoints);

        &.page-container--flexbox {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        &.page-container--profile {
            padding-top: 0;
        }
    }
}
