.site-footer {
  width: 100%;
  margin: 0 auto 8px;
  padding: 16px 36px;
  box-sizing: border-box;
  background-color: $primary_color;
  font-size: 12px;
  text-align: center;

  .site-footer__list {
    display: flex;

    .site-footer__list-item {
      &:not(:last-child) {
        margin-right: 16px;
      }

      a {
        color: $text_color_gray;
      }
    }
  }
}
