
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    color: $text_color_gray;
    background-color: $primary_color;
    box-shadow: 0 1px 1px rgba(0,0,0,0.26);

    .topbar__container {
        display: flex;
        height: $topbar-height;
        margin: 0 auto;

        @media screen and (min-width: 450px) {
            max-width: 450px;
        }

        @media screen and (min-width: 890px) {
            max-width: 890px;
        }

        @media screen and (min-width: 1190px) {
            max-width: 1190px;
        }

        .topbar__item {
            height: 100%;
            flex-grow: 1;
            flex-shrink: 0;

            &.topbar__item--left {
                order: 1;
                flex-basis: 100%;

                @media screen and (min-width: 890px) {
                    flex-basis: calc(100% / 3);
                }

                .page-nav {
                    width: 100%;
                    height: 100%;

                    .page-nav__list {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        flex-direction: row;
                        justify-content: flex-start;

                        .page-nav__list-item {
                            height: 100%;
                            flex-shrink: 0;
                            flex-grow: 1;

                            @media screen and (min-width: 890px) {
                                flex-grow: 0;
                            }

                            a {
                                display: flex;
                                height: 100%;
                                padding: 0 16px;
                                justify-content: center;
                                text-decoration: none;
                                color: $text_color_gray;
                                transition: all .15s ease-in-out;

                                &:hover, &:active, &.page-nav__navlink--current {
                                    height: calc(100% - 2px);
                                    color: $highlight_color;
                                    border-bottom: 2px solid $highlight_color;
                                }

                                &.page-nav__navlink--current {
                                    .page-nav__icon {
                                        font-weight: bold;
                                    }
                                }

                                .page-nav__icon {
                                    font-size: 18px;
                                    margin-top: ($topbar-height - 18)/2;
                                }

                                span {
                                    font-size: 13px;
                                    font-weight: 700;
                                    margin-left: 8px;
                                    margin-top: ($topbar-height - 13)/2;

                                    @media screen and (max-width: 1189px) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.topbar__item--center {
                order: 2;

                @media screen and (max-width: 890px) {
                    display: none;
                }

                .topbar__title-wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    a {
                        text-decoration: none;
                        color: inherit;

                        .topbar__title::before {
                            content: "";
                            display: block;
                            height: 21px;
                            width: 21px;
                            background-size: contain;
                            background-image: url("../images/logo.png");
                        }
                    }
                }
            }

            &.topbar__item--right {
                order: 3;
                flex-basis: calc(100% / 3);

                @media screen and (max-width: 890px) {
                    display: none;
                }

                .user-nav {
                    height: 100%;

                    .user-nav__list {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        height: 100%;

                        .user-nav__list-item {

                            &:not(:first-child) {
                                margin-left: 12px;
                                height: calc(100% - 12px);
                            }

                            .user-nav__search-form {
                                height: 100%;

                                .search-form {
                                    height: 100%;
                                    position: relative;

                                    .search-form__input {
                                        height: 100%;
                                        width: 228px;
                                        padding: 8px 32px 8px 12px;
                                        box-sizing: border-box;
                                        border-radius: 25px;
                                        overflow: hidden;
                                        font-size: 12px;
                                        color: $text_color_gray;
                                        background-color: darken($primary_color, 2.5%);
                                        border: 1px solid $background_color;
                                        outline: none;
                                        transition: all .2s ease-in-out;

                                        &:focus {
                                            box-shadow: 0 0 0 1.5px $highlight_color;
                                            background-color: $primary_color;
                                        }
                                    }

                                    .search-form__submit {
                                        position: absolute;
                                        top: 8px;
                                        right: 13px;
                                        font-size: 14px;
                                        color: $text_color_gray;
                                    }

                                    .search-form-dropdown {
                                        position: absolute;
                                        width: 300px;
                                        padding: 8px 0;
                                        margin: 12px auto;
                                        border-radius: 5px;
                                        box-sizing: border-box;
                                        color: $text_color_gray;
                                        background-color: $primary_color;
                                        box-shadow: 0 1px 4px rgba(0,0,0,0.26);

                                        .search-form-dropdown__header {
                                            display: flex;
                                            padding: 8px 14px;
                                            justify-content: space-between;

                                            .search-form-dropdown__title {
                                                font-size: 14px;
                                                font-weight: bold;
                                            }

                                            .search-form-dropdown__clear-button {
                                                font-size: 12px;
                                            }
                                        }

                                        .search-form-dropdown__list {
                                            padding: 0;

                                            .search-form-dropdown__list-item {

                                                .search-form-dropdown__item.dropdown__link {
                                                    display: flex;
                                                    padding: 0;
                                                    font-size: 14px;
                                                    justify-content: space-between;

                                                    &:hover, &:active {
                                                        color: $highlight_color;
                                                        background-color: $secondary_color;
                                                    }

                                                    .search-form-dropdown__link {
                                                        display: block;
                                                        width: 100%;
                                                        height: 100%;
                                                        padding: 14px 0 14px 14px;
                                                        box-sizing: border-box;
                                                        color: inherit;
                                                        white-space: nowrap;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;

                                                        &:hover, &:active {
                                                            text-decoration: underline;
                                                        }
                                                    }

                                                    .search-form-dropdown__delete-button {
                                                        font-size: 8px;
                                                        color: inherit;
                                                        padding: 14px 14px 14px 0;
                                                        box-sizing: border-box;
                                                    }
                                                }
                                            }

                                            .search-form-dropdown__empty-message {
                                                font-size: 14px;
                                                box-sizing: border-box;
                                                padding: 14px 0 14px 14px;
                                            }
                                        }
                                    }
                                }
                            }

                            .user-nav__avatar-dropdown {
                                height: 100%;

                                .avatar-dropdown {
                                    height: 100%;

                                    .avatar-dropdown__button {
                                        height: 100%;
                                        border-radius: 50%;
                                        overflow: hidden;
                                    }

                                    &.dropdown--active {
                                        .avatar-dropdown__button {
                                            [data-id="tooltip"] {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }

                            .user-nav__toot-button {
                                height: 100%;

                                .toot-button {
                                    height: 100%;
                                    padding: 6px 18px;
                                    font-size: 14px;
                                    font-weight: 700;
                                    border-radius: 25px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    box-sizing: border-box;
                                    color: $white;
                                    background-color: $highlight_color;

                                    &:hover, &:active {
                                        background-color: darken($highlight_color, 5%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
