.widget-footer {
    padding: 16px;
    background-color: $primary_color;
    border: 1px solid $primary_color_dark;
    box-sizing: border-box;

    .widget-footer__list {
        font-size: 12px;

        .widget-footer__list__child {
            display: inline-block;
            line-height: 1.5;

            &:not(:last-child) {
                margin-right: .5em;
            }

            a {
                color: $text_color_dark;
                text-decoration: none;

                &:hover, &:focus, &:active {
                    text-decoration: underline;
                }
            }
        }
    }
}
