
$fonts-dir:  "/fonts";
$images-dir: "/images";
$fa-font-path: "/fonts/font-awesome";
$hl-font-path: "/fonts/hl-lineicon";

$login-container-width: 750px;

$app-content-width: 10px;
$app-aside-width: 10px;
$app-container-width: $app-content-width + $app-aside-width;