$text-color:       #000000;
$text-color-gray:  #66757f;
$background-color: #e6ecf0;
$highlight-color:  #00aced;
$primary-color:    #ffffff;
$secondary-color:  #edfaff;
$white:            #ffffff;
$green:            #17bf63;
$yellow:           #f8b038;
$orange:           #ff5050;
$red:              #e0245e;
$blue:             #1da1f2;
