$text-color:       #000000;
$text-color-gray:  #66757F;
$background-color: #E6ECF0;
$highlight-color:  #00aced;
$primary-color:    #ffffff;
$secondary-color:  lighten($highlight-color, 50%);
$white:            #ffffff;
$green:            #17BF63;
$yellow:           #F8B038;
$orange:           #ff5050;
$red:              #E0245E;
$blue:             #1DA1F2;
