$text_color:       #000000;
$text_color_gray:  #66757F;
$background_color: #E6ECF0;
$highlight_color:  #00aced;
$primary_color:    #ffffff;
$secondary_color:  lighten($highlight_color, 50%);
$white:            #ffffff;
$green:            #17BF63;
$yellow:           #F8B038;
$orange:           #ff5050;
$red:              #E0245E;
$blue:             #1DA1F2;
