@font-face {
  font-family: 'hl-icon';
  src:  url('#{$fonts-path}/hl-lineicon/hl-icon.eot?z8woma');
  src:  url('#{$fonts-path}/hl-lineicon/hl-icon.eot?z8woma#iefix') format('embedded-opentype'),
    url('#{$fonts-path}/hl-lineicon/hl-icon.ttf?z8woma') format('truetype'),
    url('#{$fonts-path}/hl-lineicon/hl-icon.woff?z8woma') format('woff'),
    url('#{$fonts-path}/hl-lineicon/hl-icon.svg?z8woma#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hlicon-"], [class*=" hlicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hl-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hlicon-arrow_down:before {
  content: "\e900";
}
.hlicon-arrow_left:before {
  content: "\e901";
}
.hlicon-arrow_right:before {
  content: "\e902";
}
.hlicon-arrow_up:before {
  content: "\e903";
}
.hlicon-bell:before {
  content: "\e905";
}
.hlicon-bubble-bold:before {
  content: "\e906";
}
.hlicon-bubble:before {
  content: "\e907";
}
.hlicon-check-bold:before {
  content: "\e908";
}
.hlicon-check:before {
  content: "\e909";
}
.hlicon-cw:before {
  content: "\e90a";
}
.hlicon-ellipsis-bold:before {
  content: "\e90b";
}
.hlicon-ellipsis:before {
  content: "\e90c";
}
.hlicon-envelope-bold:before {
  content: "\e90d";
}
.hlicon-envelope:before {
  content: "\e90e";
}
.hlicon-gear:before {
  content: "\e90f";
}
.hlicon-hasp:before {
  content: "\e910";
}
.hlicon-heart-bold:before {
  content: "\e911";
}
.hlicon-heart:before {
  content: "\e912";
}
.hlicon-home-bold:before {
  content: "\e913";
}
.hlicon-home:before {
  content: "\e914";
}
.hlicon-mastodon_alt:before {
  content: "\e915";
}
.hlicon-mastodon:before {
  content: "\e916";
}
.hlicon-loupe-bold:before {
  content: "\e917";
}
.hlicon-loupe:before {
  content: "\e918";
}
.hlicon-nsfw:before {
  content: "\e919";
}
.hlicon-people-bold:before {
  content: "\e91a";
}
.hlicon-people-plus:before {
  content: "\e91b";
}
.hlicon-people-remove:before {
  content: "\e91c";
}
.hlicon-people:before {
  content: "\e91d";
}
.hlicon-peoples-bold:before {
  content: "\e91e";
}
.hlicon-peoples:before {
  content: "\e91f";
}
.hlicon-photo:before {
  content: "\e920";
}
.hlicon-reblog-bold:before {
  content: "\e921";
}
.hlicon-reblog:before {
  content: "\e922";
}
.hlicon-smile-bold:before {
  content: "\e923";
}
.hlicon-smile:before {
  content: "\e924";
}
.hlicon-social_bold:before {
  content: "\e925";
}
.hlicon-social:before {
  content: "\e926";
}
.hlicon-star-bold:before {
  content: "\e927";
}
.hlicon-star:before {
  content: "\e928";
}
.hlicon-time:before {
  content: "\e929";
}
